/* version 3.0b  2015-04-19*/

.colLeft {      width: 34%;     margin-right: 3px;      padding: 0px;   float: left;}
.colRight {     width: 33%;     margin-left: 3px;       padding: 0px;   float: right;}
.colMiddle {    width: 30%;     margin: auto;           padding: 0px;}

.lTxt { padding: 3px;   text-align: left;       float: left; }
.rTxt { padding: 3px;   text-align: right;      float: right; }
.mTxt { padding: 3px;   text-align: center;}

p {     font-size: 100%;background-color: inherit;      color:  black;  min-height : 2em ;}
table { width: 95%;     margin: auto;   text-align: center; }

.ajaxHead {
font-size: 100%;
border-radius: 3px;
font-weight: bold;
color:  white;
background-color: #ACACAC;
text-align: center;
min-height: 16px;
}
.ajaxHead h3{   width: 100%; }

.txtTemp 	{float: right; text-align: center;} /*  style="float: right; width: 60%; text-align: center;*/
.colImgCCN 	{padding: 0px; 	vertical-align: middle; width:52px; height:52px;}
.colImgThermo	{padding: 0px; 	vertical-align: middle; width:54px; height:160px;}
.colImgWind 	{padding: 10px;	vertical-align: middle; width:96px; height:96px; float: left;}
.arrow		{width: 14px; height: 16px; border: 0; margin: 1px 3px;}
.pmiddle 	{text-align: center;}
.colhr          {width: 70%;}

.dashTemps      {width: 100%;   padding: 0px;}
.dashTemps tr   {height: 16px;  padding: 0px;}

.dashTempsDesc  {/*font-weight: bold;     padding: 0px;*/}
.dashTempsHigh  {border: 1px solid;     border-radius:5px;      border-color: #FF0000;  background-color: #F3E5E5;      height: 16px;   padding: 0px;}
.dashTempsLow   {border: 1px solid;     border-radius:5px;      border-color: #0000FF;  background-color: #D0E2FF;      height: 16px;   padding: 0px;}

.verwachting {
        width: 100%;
        border-collapse: collapse;
        border-radius: 8px;
        background-color: inherit;
	font-family: verdana, helvetica, arial, sans-serif;
	font-size: 14px; 
}

.trLow  {height: 10px; font-size: 2px;}
.tijd { padding-left: 10px;
        text-align: left;
        font-size: 80%;
}
.dmj {  text-align: center;  
        font-size: 80%;
}
.dagNaam {
        color: white;
        text-align: center;
        font-size:100%; 
        font-weight:bold;
        border-color: #014D89;
        border-style: solid;
        border-width: 1px 1px 0px 1px;
}
.stationnaam {
         color: white;
         padding: 0 10px 0 10px;
         background-color: #ffC683;
         text-align: left;
         font-size:100%; 
         font-weight:bolder;
         border-color: #014D89;
         border-style: solid;
         border-top-width: 1px; 
         border-right-width: 0px;
         border-left-width: 0px;
         border-bottom-width: 0px;
}
.stationurl {
         padding: 0 10px 0 10px;
         height: 12px;
         background-color: #FD9C00;
         text-align: left;
         font-size:80%; 
         font-weight:bolder;
         border-color: #014D89;
         border-style: solid;
    	 border-right-width: 0px;
    	 border-top-width: 0px;
         border-left-width: 0px;
         border-bottom-width: 1px;
}
.samenwerking {
         color: white;
         text-shadow: black 0.2em 0.2em 0.2em;
         text-align: right;
         font-size:90%; 
         font-weight:bold;
         text-decoration:none;
}
.toelichting {
         font-size: 80%;
         text-align: right;
         padding-right: 6px;
}
.rowFigures {height: 20px;}
.lwaarden {
         font-weight: bold;
         font-size: smaller;
   		 border: medium none;
    	 border-collapse: collapse;
         padding: 0;
         border-right-width: 0px;
         border-top-width: 0px;
         border-bottom-width: 0px;
         text-align: center;
         border-color: #014D89;
         border-style: solid;
         border-left-width: 1px;        
}
.rwaarden {
        font-weight: bold;
        font-size: smaller;
        border: medium none;
    	border-collapse: collapse;
    	padding: 0;
        border-left-width: 0px;
    	border-top-width: 0px;
    	border-bottom-width: 0px;
        text-align: center;
        border-color: #014D89;
        border-style: solid;
        border-right-width: 1px;
}
