/* version 2.00B */
.warnBox {display: none !important;}
#header {display: none !important;}
#menu-hor {display: none !important;}
#info-ver {min-width: 0px; width: 0px; display: none !important;}
#footer { display: none !important;}
img.bg {display: none !important;}
.doNotPrint {display: none !important;}