/* css mood switch definitions version 2.40b  removed nearly all back-ground images from #header */
/* resolved conflict with EWN css
         Clouds by day 
*/
.ws_clouds #pagina  	{border-color: #B4D3ED; background-color: rgba(205,218,224, 0.6);}
.ws_clouds	#header		{color: black;		background-image: url(img/headClouds.jpg);}
.ws_clouds	#footer 	{color: black; 		background-color: #B4D3ED;}
.ws_clouds	#nav li 	{color: black; 		background-color: #B4D3ED;}
.ws_clouds	li.tabberactive a	{color: black; 		background-color: #B4D3ED;}
.ws_clouds	#menu-hor 	{color: black; 		background-color: #B4D3ED;}
.ws_clouds	.headerDiv 	{color: black; 		background-color: #B4D3ED;}
.ws_clouds	.ajaxHead 	{color: black; 		background-color: #B4D3ED;}
.ws_clouds	.blockHead 	{color: black; 		background-color: #B4D3ED;}
.ws_clouds	.table-top 	{color: black; 		background-color: #B4D3ED;}
.ws_clouds	.row-dark 	{color: black; 		background-color: #B4D3ED;}
/*
          Clouds at night 
*/
.ws_cloudsn #pagina 	{border-color: #CDDAE0; background-color: rgba(205,218,224, 0.6);}
.ws_cloudsn #footer 	{color: white; 		background-color: #8394A4;}
.ws_cloudsn #nav li 	{color: white;		background-color: #8394A4;}
.ws_cloudsn li.tabberactive a 	{color: white;		background-color: #8394A4;}
.ws_cloudsn #menu-hor	{color: white;		background-color: #8394A4;}
.ws_cloudsn .headerDiv {color: white; 		background-color: #8394A4;}
.ws_cloudsn .ajaxHead 	{color: white; 		background-color: #8394A4;}
.ws_cloudsn .blockHead {color: white; 		background-color: #8394A4;}
.ws_cloudsn .blockHead a {color: white;}
.ws_cloudsn .table-top {color: white; 		background-color: #8394A4;}
.ws_cloudsn .row-dark 	{color: white; 		background-color: #597D93;}

.ws_mist 	#pagina 	{border-color: #C2C8D6; background-color: rgba(194,200,214, 0.6);}
.ws_mist	#footer 	{color: white; 		background-color: #5E92BF;}
.ws_mist	#nav li 	{color: white; 		background-color: #5E92BF;}
.ws_mist	li.tabberactive a 	{color: white; 		background-color: #5E92BF;}
.ws_mist	#menu-hor	{color: white; 		background-color: #5E92BF;}
.ws_mist	.headerDiv 	{color: white; 		background-color: #5E92BF;}
.ws_mist	.ajaxHead 	{color: white; 		background-color: #6C7D89;}
.ws_mist	.blockHead 	{color: white; 		background-color: #6C7D89;}
.ws_mist 	.blockHead a {color: white;}
.ws_mist	.table-top 	{color: white;		background-color: #6C7D89;}
.ws_mist	.row-dark 	{color: white; 		background-color: #5E92BF;}

.ws_moon 	#pagina 	{border-color: #CDDAE0; background-color: rgba(205,218,224, 0.6);}
.ws_moon 	#footer 	{color: white; 		background-color: #8394A4;}
.ws_moon 	#nav li 	{color: white; 		background-color: #8394A4;}
.ws_moon 	li.tabberactive a	{color: white; 		background-color: #8394A4;}
.ws_moon 	#menu-hor 	{color: white; 		background-color: #8394A4;}
.ws_moon	.headerDiv 	{color: black; 		background-color: #8394A4;}
.ws_moon 	.ajaxHead 	{color: white; 		background-color: #8394A4;}
.ws_moon 	.blockHead 	{color: white; 		background-color: #8394A4;}
.ws_moon 	.blockHead a {color: white;}
.ws_moon 	.table-top 	{color: white; 		background-color: #8394A4;}
.ws_moon 	.row-dark 	{color: white; 		background-color: #597D93;}
/*
          Partial clouds    
 */
.ws_pclouds #pagina  	{border-color: #C5C5BA; background-color: rgba(205,218,224, 0.6);}
.ws_pclouds #footer 	{color: black; 		background-color: #C5C5BA;}
.ws_pclouds #nav li 	{color: black; 		background-color: #C5C5BA;}
.ws_pclouds li.tabberactive a 	{color: black; 		background-color: #C5C5BA;}
.ws_pclouds #menu-hor 	{color: black; 		background-color: #C5C5BA;}
.ws_pclouds .headerDiv {color: black; 		background-color: #C5C5BA;}
.ws_pclouds .ajaxHead 	{color: black; 		background-color: #C5C5BA;}
.ws_pclouds .blockHead {color: black; 		background-color: #C5C5BA;}
.ws_pclouds .table-top {color: black; 		background-color: #C5C5BA;}
.ws_pclouds .row-dark 	{color: black; 		background-color: #A8B5C9;}

.ws_rain 	#pagina 	{border-color: #F9F9F9; background-color: rgba(240,240,240, 0.9);}
.ws_rain	#footer 	{color: black;		background-color: #B1BEC7;}
.ws_rain	#nav li 	{color: black;		background-color: #B1BEC7;}
.ws_rain	li.tabberactive a {color: black;		background-color: #B1BEC7;}
.ws_rain	#menu-hor 	{color: black;		background-color: #B1BEC7;}
.ws_rain	.headerDiv 	{color: black; 		background-color: #B1BEC7;}
.ws_rain	.ajaxHead 	{color: black; 		background-color: #B1BEC7;}
.ws_rain	.blockHead 	{color: black; 		background-color: #B1BEC7;}
.ws_rain	.table-top 	{color: black;		background-color: #B1BEC7;}
.ws_rain	.row-dark 	{color: black;		background-color: #D1D6DB;}

.ws_snow 	#pagina 	{border-color: grey; background-color: rgba(255,255,255, 0.9);}
.ws_snow	#footer 	{color:  white; 	background-color: #B1BEC7;}
.ws_snow	#nav li 	{color:  white; 	background-color: #B1BEC7;}
.ws_snow	li.tabberactive a	{color:  white; 	background-color: #B1BEC7;}
.ws_snow	#menu-hor	{color:  white; 	background-color: #B1BEC7;}
.ws_snow	.headerDiv 	{color:  black; 	}
.ws_snow	.ajaxHead 	{color:  white; 	background-color: #B1BEC7;}
.ws_snow	.blockHead 	{color:  white; 	background-color: #B1BEC7;}
.ws_snow	.blockHead a {color: white;}
.ws_snow	.table-top	{color:  white; 	background-color: #7D8182;}
.ws_snow	.row-dark 	{color:  white; 	background-color: #B1BEC7;}

.ws_storm 	#pagina 	{border-color: #CBD5AF; background-color: rgba(174,174,174, 0.7);}
.ws_storm	#footer 	{color:  #DDDDDD; 	background-color: #666666;}
.ws_storm	#nav li 	{color:  #DDDDDD; 	background-color: #3F413A;}
.ws_storm	li.tabberactive a {color:  #DDDDDD; 	background-color: #3F413A;}
.ws_storm	#menu-hor	{color:  #DDDDDD; 	background-color: #3F413A;}
.ws_storm	.headerDiv 	{color:  white; 	background-color: #3F413A;}
.ws_storm	.ajaxHead 	{color:  #DDDDDD; 	background-color: #666666;}
.ws_storm	.blockHead 	{color:  #DDDDDD; 	background-color: #666666;}
.ws_storm	.blockHead a {color: #DDDDDD;}
.ws_storm	.table-top 	{color:  #DDDDDD; 	background-color: #3F413A;}
.ws_storm	.row-dark 	{color:  #DDDDDD; 	background-color: #3F413A;}
/*
          Sun   
*/
.ws_sun 	#pagina 	{border-color: #FDFBEB; background-color: rgba(253,251,220, 0.8);}
.ws_sun 	#footer 	{color:  black; 	background-color: #EDD893;}
.ws_sun 	#nav li 	{color:  black; 	background-color: #EDD893;}
.ws_sun 	li.tabberactive a {color:  black; 	background-color: #EDD893;}
.ws_sun 	#menu-hor 	{color:  black; 	background-color: #EDD893;}
.ws_sun	.headerDiv 	{color:  black; 	background-color: #EDD893;}
.ws_sun 	.ajaxHead	{color:  black; 	background-color: #FCDAAB}
.ws_sun 	.blockHead	{color:  black; 	background-color: #FCDAAB}
.ws_sun 	.table-top 	{color:  black; 	background-color: #EDD893;}
.ws_sun 	.row-dark 	{color:  black; 	background-color: #EDD893;}
.ws_sun	.ui-state-active {color:  black; background-color: #EDD893 !important}
/*
          Thunder
*/
.ws_thunder #pagina 	{border-color: #B1BEC7; background-color: rgba(240,240,240, 0.7);}
.ws_thunder #header	{color:  black;	background-image: url(img/headThunder.jpg);}
.ws_thunder #footer 	{color:  black; 	background-color: #B1BEC7;}
.ws_thunder #nav li 	{color:  black; 	background-color: #B1BEC7;}
.ws_thunder li.tabberactive a {color:  black; 	background-color: #B1BEC7;}
.ws_thunder #menu-hor 	{color:  black; 	background-color: #B1BEC7;}
.ws_thunder .headerDiv {color:  black; 	background-color: #B1BEC7;}
.ws_thunder .ajaxHead 	{color:  black; 	background-color: #B1BEC7;}
.ws_thunder .blockHead {color:  black; 	background-color: #B1BEC7;}
.ws_thunder .table-top {color:  black;		background-color: #B1BEC7;}
.ws_thunder .row-dark 	{color:  black; 	background-color: #D1D6DB;}

.green  			{color:  black;		background-color: #D5DCCA ;}
.green 	#pagina 	{border-color: #FDFBEB; background-color: rgba(233,241,226, 0.8);}
.green 	#header		{background-color: #ADCCC5;}
.green 	#footer 	{background-color: #B1CBA0;}
.green 	#nav li 	{background-color: #ADCCC5;}
.green 	li.tabberactive a {background-color: #ADCCC5;}
.green 	#menu-hor 	{background-color: #ADCCC5;}
.green	.headerDiv 	{background-color: #D5DCCA;}
.green 	.ajaxHead	{background-color: #00745B;}
.green 	.blockHead	{background-color: #00745B;}
.green 	.table-top 	{background-color: #A7BF8E;}
.green 	.row-dark 	{background-color: #B1CBA0;}
.green 	.row-light 	{background-color: #DDF0CE;}

.blue  				{color:  black;		background-color: #F1F8FE;}
.blue 	#pagina 	{border-color: #FDFBEB; background-color: rgba(205,218,224, 0.6);}
.blue 	#header		{background-color: #3173B1;}
.blue 	#footer 	{color:  white;	background-color: #3173B1;}
.blue 	#nav li 	{background-color: #B7D0E8;}
.blue 	li.tabberactive a {background-color: #B7D0E8;}
.blue 	#menu-hor 	{background-color: #B7D0E8;}
.blue	.headerDiv 	{background-color: #F1F8FE;}
.blue 	.ajaxHead	{background-color: #3173B1;}
.blue 	.blockHead	{background-color: #3173B1;}
.blue 	.table-top 	{background-color: #96C6F5;}
.blue 	.row-dark 	{background-color: #B7D0E8;}
.blue 	.row-light 	{background-color: #F5F7FC;}

.pastel  			{color:  black;		background-color: #F1F8FE;}
.pastel #pagina 	{border-color: #FDFBEB; background-color: rgba(225,232,242, 0.8);}
.pastel #header		{background-color: #7190BF;}
.pastel #footer 	{background-color: #7190BF;}
.pastel #nav li 	{background-color: #B7D0E8;}
.pastel li.tabberactive a {background-color: #B7D0E8;}
.pastel #menu-hor 	{background-color: #B7D0E8;}
.pastel	.headerDiv 	{background-color: #F1F8FE;}
.pastel .ajaxHead	{background-color: #7190BF;}
.pastel .blockHead	{color: white; background-color: #7190BF;}
.pastel .blockHead	a {color: white;}
.pastel .table-top 	{color: white; background-color: #336699;}
.pastel .row-dark 	{background-color: #B7D0E8;}
.pastel .row-light 	{background-color: #F5F7FC;}

.red  				{color:  black;		background-color: #FFF7ED;}
.red 	#pagina 	{border-color: #FDFBEB; background-color: rgba(255,252,251, 0.6);}
.red 	#header		{background-color: #993333;}
.red 	#footer 	{color:  white; background-color: #993333;}
.red 	#nav li 	{background-color: #E3D7C5;}
.red 	li.tabberactive a {background-color: #E3D7C5;}
.red 	#menu-hor 	{background-color: #E3D7C5;}
.red	.headerDiv 	{background-color: #FFF7ED;}
.red 	.ajaxHead	{background-color: #993333;}
.red 	.blockHead	{background-color: #993333;}
.red 	.table-top 	{background-color: #CCBFAD;}
.red 	.row-dark 	{background-color: #E3D7C5;}
.red 	.row-light 	{background-color: #F2EEE9;}

.orange  			{color:  black;		background-color: #F9F0DD;}
.orange #pagina 	{border-color: #FDFBEB; background-color: rgba(255,252,251, 0.6);}
.orange #header		{background-color: #CC6600;}
.orange #footer 	{color:  white;	background-color: #CC6600;}
.orange #nav li 	{background-color: #E9C781;}
.orange li.tabberactive a {background-color: #E9C781;}
.orange #menu-hor 	{background-color: #E9C781;}
.orange	.headerDiv 	{background-color: #F9F0DD;}
.orange .ajaxHead	{background-color: #B36900;}
.orange .blockHead	{background-color: #B36900;}
.orange .table-top 	{background-color: #E9C781;}
.orange .row-dark 	{background-color: #F9F0DD;}
.orang 	.row-light 	{background-color: #E9C781;}
